html, body {
    margin: 0;
}
body {
    background-color:  rgb(152, 218, 199);
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(152, 218, 199);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
    
}


.menu {
    width: 15%;
    background-color: rgb(152, 218, 199);
    padding: 10px 20px 0px;
    color: rgb(15, 57, 57)
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    font-size: xx-large;
    text-align: center;
    color: rgb(194, 224, 224);
    font-style: oblique;
    font-size: 45px;
}
.content {
    background-color: rgb(152, 218, 199);
    font-size: larger;
    text-align: center;
    min-height: 300px;
    padding: 20px;
    color: rgb(15, 57, 57)
}
.footer {
    background-color: rgb(128, 152, 143);
    min-height: 75px;
    min-width: 300px;
    display:inline-block;
   color: azure;
}
.div2{
   text-align: right;
}
.especialidades {
    font-size: 35px;

}
.clinica{
    font-size: 20px 
}
.avaliacao{
    text-align: left;
}